@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap");
@keyframes half-spin{
  0%{
    transform: rotate(-180deg);
    opacity: 0;
  }
  100%{
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes list{
  0%{
    transform: translateY(50%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  min-width: 290px;
  width: auto;
  margin: auto;
  font-family: "roboto", sans-serif;
}
p {
  margin: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
header {
  text-align: center;
  margin-bottom: 0px;
}
header .titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
header .titre .fleche {
  margin-left: 10px;
}
.logo {
  width: 50%;
  padding-top: 10px;
  max-width: 320px;
}
.titre {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.petit_logo {
  width: 155px;
}
.image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.plats {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: left;
}

.assiette {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-top: 15px;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 2px 1px 8px -3px #00000080;
  animation: list 1.5s 200ms;
}
.texte{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
div.assiette:hover .valider{
  margin-right: -25px;
  margin-left: 45px;
}
div.assiette:hover .fa-regular{
  animation: half-spin 700ms;
}
.assiette p{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.valider{
  background-color: #99e2d0;
  margin: -51px -86px -12px 31px;
  width: 61px;
  height: 67px;
  float: right;
  border-radius: 0px 13px 13px 0px;
  transition: all 0.5s;
}
.valider .fa-regular{
  margin: 15px;
  color: #99e2d0;
  font-size: xx-large;
  background-color: white;
  border-radius: 100%;
}
.gras {
  font-weight: bold;
  margin-bottom: 5px;
}
.prix {
  float: right;
  margin-top: 20px;
  font-weight: 600;
  padding-right: 15px;
  margin-left: 10px;
}
.surlignement {
  border-bottom: 2px solid #99e2d0;
  width: 40px;
  margin-bottom: 10px;
  margin-top: 40px;
}
section {
  background-color: #f0eded;;
  border-radius: 25px 25px 0px 0px;
  margin-top: -30px;
  position: relative;
  opacity: 1;
  text-align: center;
}
h1 {
  margin-left: 15px;
  padding-top: 15px;
  margin-bottom: 0px;
  font-family: Shrikhand;
  font-size: xx-large;
}
footer {
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  padding: 5px 0 30px 10px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: x-large;
}
footer .fa-solid {
  margin-right: 10px;
}
footer p{
  padding: 4px;
}
footer a{
  color: white;
}
.coeur {
  margin-right: 30px;
  font-size: xx-large;
}
.coeur:hover{
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(354deg, #9356dc 19%, #ff79da 100%);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
button {
  background: #9356dc;
  background: linear-gradient(354deg, #9356dc 19%, #ff79da 100%);
  border-radius: 50px;
  padding: 15px 35px;
  color: white;
  font-family: "roboto";
  font-size: medium;
  font-weight: 600;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
}