@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap");
body {
  min-width: 378px;
  width: auto;
  margin: auto;
  font-family: "roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
nav p {
  margin-bottom: 40px,
}
header {
  text-align: center;
  margin-bottom: 0px;
}
header .logo {
  width: 276px;
  padding-top: 10px;
}
header .localisation {
  background-color: rgba(218, 218, 218, 0.568);
  font-size: large;
  padding: 16px;
  box-shadow: 0px -2px 2px 2px #80808052;
}
header .lieux {
  display: inline;
}
.nouveau{
  position: absolute;
  padding: 5px;
  width: 70px;
  text-align: center;
  background-color: #99E2D0;
  margin-left: 290px;
  border-radius: 2px;
  color: green;
  font-size: smaller;
}
nav {
  padding: 20px 40px 50px 40px;
  text-align: center;
  background-color: rgba(201, 201, 201, 0.164);
}
nav h1{
  font-size: xx-large;
}
nav p{
  font-size: large;
  color: grey;
  margin-bottom: 45px;
}
nav .gradient {
  background: #9356dc;
  background: linear-gradient(354deg, #9356dc 19%, #ff79da 100%);
  border-radius: 50px;
  padding: 15px 25px;
  color: white;
  font-family: "roboto";
  font-size: medium;
  font-weight: 600;
  border: none;
  margin-top: 20px;
}
section {
  margin: 50px 0px 0px 0px;
  background-color: rgba(218, 218, 218, 0.568);
  padding: 0px 10px 50px 10px;
}
section h2 {
  font-size: x-large;
  padding-top: 35px;
  margin-left: 10px;
}
.fonctionnement .fa-solid {
  color: grey;
  margin-right: 30px;
  font-size: larger;
}
.preparation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.liste {
  width: 325px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 13px;
  margin: 25px 15px 0px 15px;
  font-weight: 600;
  box-shadow: 2px 1px 8px -3px #00000080;
  background-color: rgba(218, 218, 218, 0.301);
}
.liste .numero {
  background-color: #9256dc;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: -28px;
  margin-right: 25px;
  color: white;
  padding: 4px;
}
.fonctionnement{
  background-color: white;
  margin-top: 0px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 55px;
}
#restaurants h2 {
  margin-left: 0px;
}
.restaurant{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.preparation a :hover{
  background: #9256dc1c;
}
.preparation a :hover .fa-solid{
  color: #9356dc;
  background: none;
}
a :hover .numero {
  background-color: #9356dc;
}
.preparation a :hover p{
  color: black;
  background: none;
}
.block_restaurant {
  margin-top: 40px;
  width: 380px;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  max-width: 550px;
  margin-left: 5px;
}
.block_restaurant .image_restaurant {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: -16px;
  border-radius: 19px 19px 0px 0px;
}
.block_restaurant .description {
  display: flex;
  flex-direction: row;
  margin-top: -20px;
  margin-left: 15px;
  justify-content: space-between;
}
.fa-heart:hover{
  color: #9356dc;
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(354deg, #9356dc 19%, #ff79da 100%);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.coeur_hover{
  margin-top: 23px;
  font-size: xx-large;
  margin-right: 25px;
  border-color: black;
  background-color: white;
}
.nom{
  font-weight: bold;
  margin-bottom: -5px;
}
footer {
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  padding: 5px 0 30px 10px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: x-large;
}
footer a{
  color: white;
}
footer .fa-solid {
  margin-right: 10px;
}
.loader{
  display: grid;
  place-items: center;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: #f0edf0b9;
  animation: loader 1s 2s forwards;
}
.spin{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-top: 2px solid #99E2D0;
  border-bottom: 2px solid #ff79da;
  animation: spin 800ms infinite linear;
}


@keyframes loader{
  to{
    transform: scale(0);
  }
}
@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}