@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap");
body {
  min-width: 400px;
  width: auto;
  margin: auto;
  font-family: "roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
nav p {
  margin-bottom: 40px,
}
header {
  text-align: center;
  margin-bottom: 0px;
}
header .logo {
  width: 204px;
  padding-top: 10px;
}
header .localisation {
  background-color: rgba(218, 218, 218, 0.568);
  font-size: large;
  padding: 16px;
  -webkit-box-shadow: 0px -2px 2px 2px #80808052;
          box-shadow: 0px -2px 2px 2px #80808052;
}
header .lieux {
  display: inline;
}
.nouveau{
  position: absolute;
  padding: 5px;
  width: 70px;
  text-align: center;
  background-color: #99E2D0;
  margin-left: 290px;
  border-radius: 2px;
  color: green;
  font-size: smaller;
}
nav {
  padding: 20px 40px 50px 40px;
  text-align: center;
  background-color: rgba(201, 201, 201, 0.164);
}
nav h1{
  font-size: xx-large;
}
nav p{
  font-size: large;
  color: grey;
  margin-bottom: 45px;
}
nav .gradient {
  background: #9356dc;
  background: -o-linear-gradient(96deg, #9356dc 19%, #ff79da 100%);
  background: linear-gradient(354deg, #9356dc 19%, #ff79da 100%);
  border-radius: 50px;
  padding: 15px 25px;
  color: white;
  font-family: "roboto";
  font-size: medium;
  font-weight: 600;
  border: none;
  margin-top: 20px;
}
section {
  margin: 50px 0px 0px 0px;
  background-color: rgba(218, 218, 218, 0.568);
  padding: 0px 10px 50px 10px;
}
section h2 {
  font-size: x-large;
  padding-top: 35px;
  margin-left: 10px;
}
.fonctionnement .fa-solid {
  color: grey;
  margin-right: 30px;
  font-size: larger;
}
.preparation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.liste {
  width: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  padding: 13px;
  margin: 25px 15px 0px 15px;
  font-weight: 600;
  -webkit-box-shadow: 2px 1px 8px -3px #00000080;
          box-shadow: 2px 1px 8px -3px #00000080;
  background-color: rgba(218, 218, 218, 0.301);
}
.liste .numero {
  background-color: #9356dc;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: -28px;
  margin-right: 25px;
  color: white;
  padding: 4px;
}
.fonctionnement{
  background-color: white;
  margin-top: 0px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 55px;
}
#restaurants h2 {
  margin-left: 0px;
}
.restaurant{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.preparation a :hover{
  background: rgba(144, 69, 236, 0.37);
}
.preparation a :hover .fa-solid{
  color: #9356dc;
  background: none;
}
a :hover .numero {
  background-color: #9356dc;
}
.preparation a :hover p{
  color: black;
  background: none;
}
.block_restaurant {
  margin-top: 40px;
  width: 380px;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  max-width: 550px;
  margin-left: 5px;
}
.block_restaurant .image_restaurant {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -16px;
  border-radius: 19px 19px 0px 0px;
}
.block_restaurant .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -20px;
  margin-left: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fa-heart:hover{
  color: #9356dc;
  -webkit-animation: fill 0.3s ease-in-out;
          animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: -o-linear-gradient(96deg, #9356dc 19%, #ff79da 100%);
  background: linear-gradient(354deg, #9356dc 19%, #ff79da 100%);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.coeur_hover{
  margin-top: 23px;
  font-size: xx-large;
  margin-right: 25px;
  border-color: black;
  background-color: white;
}
.nom{
  font-weight: bold;
  margin-bottom: -5px;
}
footer {
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  padding: 5px 0 20px 10px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: x-large;
}
footer a{
  color: white;
}
footer .fa-solid {
  margin-right: 10px;
}
.loader{
  display: grid;
  place-items: center;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: #f0edf0b9;
  -webkit-animation: loader 1s 2s forwards;
          animation: loader 1s 2s forwards;
}
.spin{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-top: 2px solid #99E2D0;
  border-bottom: 2px solid #ff79da;
  -webkit-animation: spin 800ms infinite linear;
          animation: spin 800ms infinite linear;
}


@-webkit-keyframes loader{
  to{
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}


@keyframes loader{
  to{
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes spin{
  to{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin{
  to{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3N0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSw2R0FBNkc7QUFDN0c7RUFDRSxnQkFBZ0I7RUFDaEIsV0FBVztFQUNYLFlBQVk7RUFDWixpQ0FBaUM7QUFDbkM7QUFDQTtFQUNFLHFCQUFxQjtFQUNyQixZQUFZO0FBQ2Q7QUFDQTtFQUNFO0FBQ0Y7QUFDQTtFQUNFLGtCQUFrQjtFQUNsQixrQkFBa0I7QUFDcEI7QUFDQTtFQUNFLFlBQVk7RUFDWixpQkFBaUI7QUFDbkI7QUFDQTtFQUNFLDRDQUE0QztFQUM1QyxnQkFBZ0I7RUFDaEIsYUFBYTtFQUNiLDhDQUFzQztVQUF0QyxzQ0FBc0M7QUFDeEM7QUFDQTtFQUNFLGVBQWU7QUFDakI7QUFDQTtFQUNFLGtCQUFrQjtFQUNsQixZQUFZO0VBQ1osV0FBVztFQUNYLGtCQUFrQjtFQUNsQix5QkFBeUI7RUFDekIsa0JBQWtCO0VBQ2xCLGtCQUFrQjtFQUNsQixZQUFZO0VBQ1osa0JBQWtCO0FBQ3BCO0FBQ0E7RUFDRSw0QkFBNEI7RUFDNUIsa0JBQWtCO0VBQ2xCLDRDQUE0QztBQUM5QztBQUNBO0VBQ0UsbUJBQW1CO0FBQ3JCO0FBQ0E7RUFDRSxnQkFBZ0I7RUFDaEIsV0FBVztFQUNYLG1CQUFtQjtBQUNyQjtBQUNBO0VBQ0UsbUJBQW1CO0VBQ25CLGdFQUE4RDtFQUE5RCw4REFBOEQ7RUFDOUQsbUJBQW1CO0VBQ25CLGtCQUFrQjtFQUNsQixZQUFZO0VBQ1oscUJBQXFCO0VBQ3JCLGlCQUFpQjtFQUNqQixnQkFBZ0I7RUFDaEIsWUFBWTtFQUNaLGdCQUFnQjtBQUNsQjtBQUNBO0VBQ0Usd0JBQXdCO0VBQ3hCLDRDQUE0QztFQUM1QywyQkFBMkI7QUFDN0I7QUFDQTtFQUNFLGtCQUFrQjtFQUNsQixpQkFBaUI7RUFDakIsaUJBQWlCO0FBQ25CO0FBQ0E7RUFDRSxXQUFXO0VBQ1gsa0JBQWtCO0VBQ2xCLGlCQUFpQjtBQUNuQjtBQUNBO0VBQ0Usb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYiw4QkFBbUI7RUFBbkIsNkJBQW1CO01BQW5CLHVCQUFtQjtVQUFuQixtQkFBbUI7RUFDbkIsbUJBQWU7TUFBZixlQUFlO0VBQ2YsOEJBQTZCO01BQTdCLDJCQUE2QjtVQUE3Qiw2QkFBNkI7QUFDL0I7QUFDQTtFQUNFLFlBQVk7RUFDWixvQkFBYTtFQUFiLG9CQUFhO0VBQWIsYUFBYTtFQUNiLHlCQUFtQjtNQUFuQixzQkFBbUI7VUFBbkIsbUJBQW1CO0VBQ25CLG1CQUFtQjtFQUNuQixhQUFhO0VBQ2IsMEJBQTBCO0VBQzFCLGdCQUFnQjtFQUNoQiw4Q0FBc0M7VUFBdEMsc0NBQXNDO0VBQ3RDLDRDQUE0QztBQUM5QztBQUNBO0VBQ0UseUJBQXlCO0VBQ3pCLGtCQUFrQjtFQUNsQixXQUFXO0VBQ1gsWUFBWTtFQUNaLG1CQUFtQjtFQUNuQixrQkFBa0I7RUFDbEIsa0JBQWtCO0VBQ2xCLFlBQVk7RUFDWixZQUFZO0FBQ2Q7QUFDQTtFQUNFLHVCQUF1QjtFQUN2QixlQUFlO0VBQ2Ysa0JBQWtCO0VBQ2xCLG1CQUFtQjtFQUNuQixvQkFBb0I7QUFDdEI7QUFDQTtFQUNFLGdCQUFnQjtBQUNsQjtBQUNBO0VBQ0Usb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYixtQkFBZTtNQUFmLGVBQWU7RUFDZiw4QkFBNkI7TUFBN0IsMkJBQTZCO1VBQTdCLDZCQUE2QjtBQUMvQjtBQUNBO0VBQ0Usb0NBQW9DO0FBQ3RDO0FBQ0E7RUFDRSxjQUFjO0VBQ2QsZ0JBQWdCO0FBQ2xCO0FBQ0E7RUFDRSx5QkFBeUI7QUFDM0I7QUFDQTtFQUNFLFlBQVk7RUFDWixnQkFBZ0I7QUFDbEI7QUFDQTtFQUNFLGdCQUFnQjtFQUNoQixZQUFZO0VBQ1osa0NBQWtDO0VBQ2xDLHVCQUF1QjtFQUN2QixnQkFBZ0I7RUFDaEIsZ0JBQWdCO0FBQ2xCO0FBQ0E7RUFDRSxXQUFXO0VBQ1gsYUFBYTtFQUNiLG9CQUFpQjtLQUFqQixpQkFBaUI7RUFDakIsaUJBQWlCO0VBQ2pCLGdDQUFnQztBQUNsQztBQUNBO0VBQ0Usb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYiw4QkFBbUI7RUFBbkIsNkJBQW1CO01BQW5CLHVCQUFtQjtVQUFuQixtQkFBbUI7RUFDbkIsaUJBQWlCO0VBQ2pCLGlCQUFpQjtFQUNqQix5QkFBOEI7TUFBOUIsc0JBQThCO1VBQTlCLDhCQUE4QjtBQUNoQztBQUNBO0VBQ0UsY0FBYztFQUNkLHdDQUFnQztVQUFoQyxnQ0FBZ0M7RUFDaEMscUJBQXFCO0VBQ3JCLFVBQVU7RUFDVixnRUFBOEQ7RUFBOUQsOERBQThEO0VBQzlELHlGQUF5RjtFQUN6Riw2QkFBNkI7RUFDN0Isb0NBQW9DO0VBQ3BDLGlCQUFpQjtBQUNuQjtBQUNBO0VBQ0UsZ0JBQWdCO0VBQ2hCLG1CQUFtQjtFQUNuQixrQkFBa0I7RUFDbEIsbUJBQW1CO0VBQ25CLHVCQUF1QjtBQUN6QjtBQUNBO0VBQ0UsaUJBQWlCO0VBQ2pCLG1CQUFtQjtBQUNyQjtBQUNBO0VBQ0Usc0NBQXNDO0VBQ3RDLFlBQVk7RUFDWix3QkFBd0I7QUFDMUI7QUFDQTtFQUNFLGlDQUFpQztFQUNqQyxrQkFBa0I7QUFDcEI7QUFDQTtFQUNFLFlBQVk7QUFDZDtBQUNBO0VBQ0Usa0JBQWtCO0FBQ3BCO0FBQ0E7RUFDRSxhQUFhO0VBQ2IsbUJBQW1CO0VBQ25CLGFBQWE7RUFDYixlQUFlO0VBQ2YsUUFBUTtFQUNSLFVBQVU7RUFDViwyQkFBMkI7RUFDM0Isd0NBQWdDO1VBQWhDLGdDQUFnQztBQUNsQztBQUNBO0VBQ0UsWUFBWTtFQUNaLGFBQWE7RUFDYixrQkFBa0I7RUFDbEIsNkJBQTZCO0VBQzdCLGdDQUFnQztFQUNoQyw2Q0FBcUM7VUFBckMscUNBQXFDO0FBQ3ZDOzs7QUFHQTtFQUNFO0lBQ0UsMkJBQW1CO1lBQW5CLG1CQUFtQjtFQUNyQjtBQUNGOzs7QUFKQTtFQUNFO0lBQ0UsMkJBQW1CO1lBQW5CLG1CQUFtQjtFQUNyQjtBQUNGO0FBQ0E7RUFDRTtJQUNFLGlDQUF5QjtZQUF6Qix5QkFBeUI7RUFDM0I7QUFDRjtBQUpBO0VBQ0U7SUFDRSxpQ0FBeUI7WUFBekIseUJBQXlCO0VBQzNCO0FBQ0YiLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCB1cmwoXCJodHRwczovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2NzczI/ZmFtaWx5PVJvYm90bzp3Z2h0QDEwMDszMDA7NDAwJmZhbWlseT1TaHJpa2hhbmQmZGlzcGxheT1zd2FwXCIpO1xyXG5ib2R5IHtcclxuICBtaW4td2lkdGg6IDQwMHB4O1xyXG4gIHdpZHRoOiBhdXRvO1xyXG4gIG1hcmdpbjogYXV0bztcclxuICBmb250LWZhbWlseTogXCJyb2JvdG9cIiwgc2Fucy1zZXJpZjtcclxufVxyXG5hIHtcclxuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbiAgY29sb3I6IGJsYWNrO1xyXG59XHJcbm5hdiBwIHtcclxuICBtYXJnaW4tYm90dG9tOiA0MHB4LFxyXG59XHJcbmhlYWRlciB7XHJcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gIG1hcmdpbi1ib3R0b206IDBweDtcclxufVxyXG5oZWFkZXIgLmxvZ28ge1xyXG4gIHdpZHRoOiAyMDRweDtcclxuICBwYWRkaW5nLXRvcDogMTBweDtcclxufVxyXG5oZWFkZXIgLmxvY2FsaXNhdGlvbiB7XHJcbiAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgyMTgsIDIxOCwgMjE4LCAwLjU2OCk7XHJcbiAgZm9udC1zaXplOiBsYXJnZTtcclxuICBwYWRkaW5nOiAxNnB4O1xyXG4gIGJveC1zaGFkb3c6IDBweCAtMnB4IDJweCAycHggIzgwODA4MDUyO1xyXG59XHJcbmhlYWRlciAubGlldXgge1xyXG4gIGRpc3BsYXk6IGlubGluZTtcclxufVxyXG4ubm91dmVhdXtcclxuICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgcGFkZGluZzogNXB4O1xyXG4gIHdpZHRoOiA3MHB4O1xyXG4gIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiAjOTlFMkQwO1xyXG4gIG1hcmdpbi1sZWZ0OiAyOTBweDtcclxuICBib3JkZXItcmFkaXVzOiAycHg7XHJcbiAgY29sb3I6IGdyZWVuO1xyXG4gIGZvbnQtc2l6ZTogc21hbGxlcjtcclxufVxyXG5uYXYge1xyXG4gIHBhZGRpbmc6IDIwcHggNDBweCA1MHB4IDQwcHg7XHJcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gIGJhY2tncm91bmQtY29sb3I6IHJnYmEoMjAxLCAyMDEsIDIwMSwgMC4xNjQpO1xyXG59XHJcbm5hdiBoMXtcclxuICBmb250LXNpemU6IHh4LWxhcmdlO1xyXG59XHJcbm5hdiBwe1xyXG4gIGZvbnQtc2l6ZTogbGFyZ2U7XHJcbiAgY29sb3I6IGdyZXk7XHJcbiAgbWFyZ2luLWJvdHRvbTogNDVweDtcclxufVxyXG5uYXYgLmdyYWRpZW50IHtcclxuICBiYWNrZ3JvdW5kOiAjOTM1NmRjO1xyXG4gIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCgzNTRkZWcsICM5MzU2ZGMgMTklLCAjZmY3OWRhIDEwMCUpO1xyXG4gIGJvcmRlci1yYWRpdXM6IDUwcHg7XHJcbiAgcGFkZGluZzogMTVweCAyNXB4O1xyXG4gIGNvbG9yOiB3aGl0ZTtcclxuICBmb250LWZhbWlseTogXCJyb2JvdG9cIjtcclxuICBmb250LXNpemU6IG1lZGl1bTtcclxuICBmb250LXdlaWdodDogNjAwO1xyXG4gIGJvcmRlcjogbm9uZTtcclxuICBtYXJnaW4tdG9wOiAyMHB4O1xyXG59XHJcbnNlY3Rpb24ge1xyXG4gIG1hcmdpbjogNTBweCAwcHggMHB4IDBweDtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKDIxOCwgMjE4LCAyMTgsIDAuNTY4KTtcclxuICBwYWRkaW5nOiAwcHggMTBweCA1MHB4IDEwcHg7XHJcbn1cclxuc2VjdGlvbiBoMiB7XHJcbiAgZm9udC1zaXplOiB4LWxhcmdlO1xyXG4gIHBhZGRpbmctdG9wOiAzNXB4O1xyXG4gIG1hcmdpbi1sZWZ0OiAxMHB4O1xyXG59XHJcbi5mb25jdGlvbm5lbWVudCAuZmEtc29saWQge1xyXG4gIGNvbG9yOiBncmV5O1xyXG4gIG1hcmdpbi1yaWdodDogMzBweDtcclxuICBmb250LXNpemU6IGxhcmdlcjtcclxufVxyXG4ucHJlcGFyYXRpb24ge1xyXG4gIGRpc3BsYXk6IGZsZXg7XHJcbiAgZmxleC1kaXJlY3Rpb246IHJvdztcclxuICBmbGV4LXdyYXA6IHdyYXA7XHJcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1ldmVubHk7XHJcbn1cclxuLmxpc3RlIHtcclxuICB3aWR0aDogMzI1cHg7XHJcbiAgZGlzcGxheTogZmxleDtcclxuICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gIGJvcmRlci1yYWRpdXM6IDI1cHg7XHJcbiAgcGFkZGluZzogMTNweDtcclxuICBtYXJnaW46IDI1cHggMTVweCAwcHggMTVweDtcclxuICBmb250LXdlaWdodDogNjAwO1xyXG4gIGJveC1zaGFkb3c6IDJweCAxcHggOHB4IC0zcHggIzAwMDAwMDgwO1xyXG4gIGJhY2tncm91bmQtY29sb3I6IHJnYmEoMjE4LCAyMTgsIDIxOCwgMC4zMDEpO1xyXG59XHJcbi5saXN0ZSAubnVtZXJvIHtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiAjOTM1NmRjO1xyXG4gIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICB3aWR0aDogMjBweDtcclxuICBoZWlnaHQ6IDIwcHg7XHJcbiAgYm9yZGVyLXJhZGl1czogMTAwJTtcclxuICBtYXJnaW4tbGVmdDogLTI4cHg7XHJcbiAgbWFyZ2luLXJpZ2h0OiAyNXB4O1xyXG4gIGNvbG9yOiB3aGl0ZTtcclxuICBwYWRkaW5nOiA0cHg7XHJcbn1cclxuLmZvbmN0aW9ubmVtZW50e1xyXG4gIGJhY2tncm91bmQtY29sb3I6IHdoaXRlO1xyXG4gIG1hcmdpbi10b3A6IDBweDtcclxuICBtYXJnaW4tbGVmdDogLTEwcHg7XHJcbiAgbWFyZ2luLXJpZ2h0OiAtMTBweDtcclxuICBwYWRkaW5nLWJvdHRvbTogNTVweDtcclxufVxyXG4jcmVzdGF1cmFudHMgaDIge1xyXG4gIG1hcmdpbi1sZWZ0OiAwcHg7XHJcbn1cclxuLnJlc3RhdXJhbnR7XHJcbiAgZGlzcGxheTogZmxleDtcclxuICBmbGV4LXdyYXA6IHdyYXA7XHJcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1ldmVubHk7XHJcbn1cclxuLnByZXBhcmF0aW9uIGEgOmhvdmVye1xyXG4gIGJhY2tncm91bmQ6IHJnYmEoMTQ0LCA2OSwgMjM2LCAwLjM3KTtcclxufVxyXG4ucHJlcGFyYXRpb24gYSA6aG92ZXIgLmZhLXNvbGlke1xyXG4gIGNvbG9yOiAjOTM1NmRjO1xyXG4gIGJhY2tncm91bmQ6IG5vbmU7XHJcbn1cclxuYSA6aG92ZXIgLm51bWVybyB7XHJcbiAgYmFja2dyb3VuZC1jb2xvcjogIzkzNTZkYztcclxufVxyXG4ucHJlcGFyYXRpb24gYSA6aG92ZXIgcHtcclxuICBjb2xvcjogYmxhY2s7XHJcbiAgYmFja2dyb3VuZDogbm9uZTtcclxufVxyXG4uYmxvY2tfcmVzdGF1cmFudCB7XHJcbiAgbWFyZ2luLXRvcDogNDBweDtcclxuICB3aWR0aDogMzgwcHg7XHJcbiAgYm9yZGVyLXJhZGl1czogMjBweCAyMHB4IDIwcHggMjBweDtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiB3aGl0ZTtcclxuICBtYXgtd2lkdGg6IDU1MHB4O1xyXG4gIG1hcmdpbi1sZWZ0OiA1cHg7XHJcbn1cclxuLmJsb2NrX3Jlc3RhdXJhbnQgLmltYWdlX3Jlc3RhdXJhbnQge1xyXG4gIHdpZHRoOiAxMDAlO1xyXG4gIGhlaWdodDogMjAwcHg7XHJcbiAgb2JqZWN0LWZpdDogY292ZXI7XHJcbiAgbWFyZ2luLXRvcDogLTE2cHg7XHJcbiAgYm9yZGVyLXJhZGl1czogMTlweCAxOXB4IDBweCAwcHg7XHJcbn1cclxuLmJsb2NrX3Jlc3RhdXJhbnQgLmRlc2NyaXB0aW9uIHtcclxuICBkaXNwbGF5OiBmbGV4O1xyXG4gIGZsZXgtZGlyZWN0aW9uOiByb3c7XHJcbiAgbWFyZ2luLXRvcDogLTIwcHg7XHJcbiAgbWFyZ2luLWxlZnQ6IDE1cHg7XHJcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xyXG59XHJcbi5mYS1oZWFydDpob3ZlcntcclxuICBjb2xvcjogIzkzNTZkYztcclxuICBhbmltYXRpb246IGZpbGwgMC4zcyBlYXNlLWluLW91dDtcclxuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XHJcbiAgb3BhY2l0eTogMTtcclxuICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQoMzU0ZGVnLCAjOTM1NmRjIDE5JSwgI2ZmNzlkYSAxMDAlKTtcclxuICBiYWNrZ3JvdW5kOiAtd2Via2l0LWxpbmVhci1ncmFkaWVudCh0byBsZWZ0LCAjOTM1NmRjLCAjYjM1Y2RjLCAjY2Y2NGRjLCAjZTg2ZWRiLCAjZmY3OWRhKTtcclxuICAtd2Via2l0LWJhY2tncm91bmQtY2xpcDogdGV4dDtcclxuICAtd2Via2l0LXRleHQtZmlsbC1jb2xvcjogdHJhbnNwYXJlbnQ7XHJcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XHJcbn1cclxuLmNvZXVyX2hvdmVye1xyXG4gIG1hcmdpbi10b3A6IDIzcHg7XHJcbiAgZm9udC1zaXplOiB4eC1sYXJnZTtcclxuICBtYXJnaW4tcmlnaHQ6IDI1cHg7XHJcbiAgYm9yZGVyLWNvbG9yOiBibGFjaztcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiB3aGl0ZTtcclxufVxyXG4ubm9te1xyXG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xyXG4gIG1hcmdpbi1ib3R0b206IC01cHg7XHJcbn1cclxuZm9vdGVyIHtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKDAsIDAsIDAsIDAuNzY3KTtcclxuICBjb2xvcjogd2hpdGU7XHJcbiAgcGFkZGluZzogNXB4IDAgMjBweCAxMHB4O1xyXG59XHJcbmZvb3RlciBoMyB7XHJcbiAgZm9udC1mYW1pbHk6IFwiU2hyaWtoYW5kXCIsIGN1cnNpdmU7XHJcbiAgZm9udC1zaXplOiB4LWxhcmdlO1xyXG59XHJcbmZvb3RlciBhe1xyXG4gIGNvbG9yOiB3aGl0ZTtcclxufVxyXG5mb290ZXIgLmZhLXNvbGlkIHtcclxuICBtYXJnaW4tcmlnaHQ6IDEwcHg7XHJcbn1cclxuLmxvYWRlcntcclxuICBkaXNwbGF5OiBncmlkO1xyXG4gIHBsYWNlLWl0ZW1zOiBjZW50ZXI7XHJcbiAgaGVpZ2h0OiAxMDB2aDtcclxuICBwb3NpdGlvbjogZml4ZWQ7XHJcbiAgaW5zZXQ6IDA7XHJcbiAgei1pbmRleDogMTtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZjBlZGYwYjk7XHJcbiAgYW5pbWF0aW9uOiBsb2FkZXIgMXMgMnMgZm9yd2FyZHM7XHJcbn1cclxuLnNwaW57XHJcbiAgd2lkdGg6IDE1MHB4O1xyXG4gIGhlaWdodDogMTUwcHg7XHJcbiAgYm9yZGVyLXJhZGl1czogNTAlO1xyXG4gIGJvcmRlci10b3A6IDJweCBzb2xpZCAjOTlFMkQwO1xyXG4gIGJvcmRlci1ib3R0b206IDJweCBzb2xpZCAjZmY3OWRhO1xyXG4gIGFuaW1hdGlvbjogc3BpbiA4MDBtcyBpbmZpbml0ZSBsaW5lYXI7XHJcbn1cclxuXHJcblxyXG5Aa2V5ZnJhbWVzIGxvYWRlcntcclxuICB0b3tcclxuICAgIHRyYW5zZm9ybTogc2NhbGUoMCk7XHJcbiAgfVxyXG59XHJcbkBrZXlmcmFtZXMgc3BpbntcclxuICB0b3tcclxuICAgIHRyYW5zZm9ybTogcm90YXRlKDM2MGRlZyk7XHJcbiAgfVxyXG59Il19 */