@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxP{
    @include flexMid;
    width: 300px;
    height: 300px;
    background: salmon;
}
body{
    height: 100vh;
    @include flexMid;
}
.boxE{
    width: 100px;
    height: 100px;
    background: bisque;
}